/ReleaseNotes.html filter=lfs diff=lfs merge=lfs -text
/git-bash.exe filter=lfs diff=lfs merge=lfs -text
/LICENSE.txt filter=lfs diff=lfs merge=lfs -text
/dev filter=lfs diff=lfs merge=lfs -text
/usr filter=lfs diff=lfs merge=lfs -text
/proc filter=lfs diff=lfs merge=lfs -text
C:/Users/Lenovo/AppData/Local/Temp filter=lfs diff=lfs merge=lfs -text
/unins000.dat filter=lfs diff=lfs merge=lfs -text
/usr/bin filter=lfs diff=lfs merge=lfs -text
/etc filter=lfs diff=lfs merge=lfs -text
/git-cmd.exe filter=lfs diff=lfs merge=lfs -text
/mingw64 filter=lfs diff=lfs merge=lfs -text
/cmd filter=lfs diff=lfs merge=lfs -text
/unins000.exe filter=lfs diff=lfs merge=lfs -text
/unins000.msg filter=lfs diff=lfs merge=lfs -text
