player-connection-mode=Listen
player-connection-guid=2774851881
player-connection-debug=0
player-connection-project-name=Undead Survivor
player-connection-ip=10.26.214.207
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=e20d1a6fcb4f4df7a3f35f589f800908
