player-connection-mode=Listen
player-connection-guid=734616615
player-connection-debug=0
player-connection-project-name=Undead Survivor
player-connection-ip=192.168.200.150
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=48b6c012d2d145f0ac35b81c3cac6da9
