player-connection-mode=Listen
player-connection-guid=2980008125
player-connection-debug=0
player-connection-project-name=Undead Survivor
player-connection-ip=192.168.200.131
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=ce012c0f964c4911a090c5a06162f7a8
